# =========================
# 1. Archivos de configuración/credenciales
# =========================
.env
*.secrets
*.key

# =========================
# 2. Cachés y compilados de Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Evita subir el archivo con credenciales
.streamlit
secrets.toml
